<html>
  <head>
    <title>BUY OUR CARS</title>
  </head>
  <body>
    <h1>You successfully added your car!</h1>
    <ul>
      <li>{{newcar.getModel}}</li>
      <li>{{newcar.getPrice}}</li>
      <li>{{newcar.getMiles}}</li>
      <li><img src= {{newcar.getPicture}}></li>
    </ul>
    <p><a href='/'>Go back</a></p>
  </body>
</html>
